h1{
color:green;

}

.list table{
border: 1px solid;
font-family: arial, Helvetica, sans-sarif;
width: 100%;
}

.list td{

border: 1px solid #ddd;
padding: 8px;
}
.list th{
padding-top: 12px;
padding-bottom: 12px
text-align: left;
background-color: #04AA6D;
color: white;
}