<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
<center>
<h1>welcome to the polls app</h1>

{% if questions %}
    {% for question in questions %}
    <h3><a href="{% url 'polls:detail' question.id %}">{{ question.question_text.upper }}</a> | <small>{{ question.pub_date.date }}</small></h3>
    {% endfor %}
{% else %}
<p>no polls available.</p>
{% endif %}
</center>




</body>
</html>